@use 'functions' as fn;
@use 'mixins';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  --circle--track-bar-color: conic-gradient(from 0deg,
    #{fn.get-color(primary, 600)} 30deg,
    #{fn.get-color(primary, 800)} 180deg,
    #{fn.get-color(primary, 600)} 330deg);
}

.circle-menu-item {
  &__content {
    width: 0;
    height: 0;
    position: absolute;
    &-wrapper {
      color: fn.get-color(primary, 50);
      width: 150px;
      position: absolute;
      text-align: left;
      top: 0;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 1px;
        box-shadow: 0 0.6px 0.8px fn.get-color(primary, 600);
        background: fn.get-color(primary, 600);
        @include mixins.transition(.07s, $delay: 0s);

        @at-root :host.active & {
          @include mixins.transition(.4s, $delay: .2s);
          width: 100%;
        }
      }

      &.left {
        right: 0;
        &:before {
          right: 0;
        }

        .title, .description {
          padding-right: 25px;
          transform: translateX(25px);
        }
      }

      &.right {
        left: 0;
        &:before {
          left: 0;
        }

        .title, .description {
          padding-left: 10px;
          transform: translateX(-25px);
        }
      }
    }

      .title, .description {
        @include mixins.transition(.1s, $delay: 0s);
        opacity: 0;

        @at-root :host.active & {
          @include mixins.transition(.5s, $delay: .2s);
          opacity: 1;
          transform: translateX(0);
        }
      }

      .description {
        @at-root :host.active & {
          transition-delay: .35s;
        }
      }

    &__title {
      margin-top: -30px;
      margin-bottom: 15px;
    }
  }

  &__svg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background: fn.get-color(primary, 600);
    transform-origin: left center;
  }
}
