@use 'functions' as fn;
@use 'mixins';

:host {
  padding: 15px 0px 15px 15px;
  display: flex;
}

.list-chart-donut {
  &__wrapper {
    @include mixins.scroll-bar();
    overflow: auto;
    display: flex;
    align-items: center;
    height: 120px;
  }
  &__item {
    @include mixins.transition(.5s, $property: padding);
    padding: 10px 15px 10px 10px;
    position: relative;

    &-badge {
      width: 2px;
      height: calc(100% - 10px);
      position: absolute;
      top: 5px;
      left: 0;
    }

    &.active {
      padding: 10px 5px 10px 20px;
      .badge {
        width: 4px;
      }
    }

    &__header {
      &-title {
        @include mixins.transition;
      }
    }

    &__subtitle {
      margin-top: 5px;
    }
  }
}
