
/// Appear Right
@keyframes appear-right {
  0% {
    opacity: 1;
    transform: translateX(25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/// Appear Left
@keyframes appear-left {
  0% {
    opacity: 1;
    transform: translateX(-25px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/// Disappear Right
@keyframes disappear-right {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(25px);
  }
}

/// Disappear Left
@keyframes disappear-left {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-25px);
  }
}

@keyframes appear-top {
  0% {
    opacity: 1;
    transform: translateY(-25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear-top {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-25px);
  }
}

@keyframes appear-bottom {
  0% {
    opacity: 1;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear-bottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(25px);
  }
}
