@use 'config';
@use '@angular/material' as mat;
@use '../config/material' as material;

/// Include material core styles.
@include mat.core();

/// Include material component themes.
@include mat.all-component-themes(material.$curriculum-vitae-dark-theme);


.cv-page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - #{config.$top-header--height});
}
