<cv-page-wrapper>
  <cv-block left-top cvTitle="Qui suis-je ?">
    <p>
      Je suis développeur web, spécialisé en front-end. Passioné par le développement web,
      j'ai toujours été à la recherche de nouvelles techniques et d'innovations. Je suis un
      autodidacte et j'aime apprendre sans cesse de nouvelles choses.
    </p>
    <p>
      J'ai entièrement développé ce cv en ligne en utilisant le framework Angular 15. Seule l'utilisation
      de Material Angular a été nécessaire pour la mise en forme.
    </p>
  </cv-block>

  <cv-data-details center-top></cv-data-details>
  <cv-block center-bottom [cvTitle]="blocks.lastProjects.title">
    <cv-list-chart-circles [valueKey]="blocks.lastProjects.valueKey"
                           [entityType]="blocks.lastProjects.type"
                           [queryArgs]="blocks.lastProjects.query"></cv-list-chart-circles>
  </cv-block>

  <cv-block right-top [cvTitle]="blocks.favoriteStacks.title" [disablePadding]="true">
    <cv-list-chart-gauge [valueKey]="blocks.favoriteStacks.valueKey"
                         [entityType]="blocks.favoriteStacks.type"
                         [queryArgs]="blocks.favoriteStacks.query"></cv-list-chart-gauge>
  </cv-block>

  <cv-block right-bottom [cvTitle]="blocks.lastWorks.title">
    <cv-list [entityType]="blocks.lastWorks.type" [queryArgs]="blocks.lastWorks.query"></cv-list>
  </cv-block>

</cv-page-wrapper>
