<cv-page-wrapper>
  <cv-block title="Qui suis-je ?" maxHeight="150px">
    <p>
      Je suis développeur web, spécialisé en front-end. Passioné par le développement web,
      j'ai toujours été à la recherche de nouvelles techniques et d'innovations. Je suis un
      autodidacte et j'aime apprendre sans cesse de nouvelles choses.
    </p>
    <p>
      J'ai entièrement développé ce cv en ligne en utilisant le framework Angular 15. Seule l'utilisation
      de Material Angular a été nécessaire pour la mise en forme.
    </p>
  </cv-block>
</cv-page-wrapper>
