@use 'functions' as fn;

/// Transition
@mixin transition($time: 0.3s, $property: all, $ease: cubic-bezier(.28,0,0,1), $delay: 0s) {
  transition: $property $time $ease $delay;
}

/// Scroll bar
@mixin scroll-bar($color: fn.get-color(contrast, 500), $width: 5px) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: fn.get-color(contrast, 300, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $color;
  }
}
