@use 'functions' as fn;

/// Transition
@mixin transition($time: 0.3s, $property: all, $ease: cubic-bezier(.28,0,0,1), $delay: 0s) {
  transition: unquote($property) $time $ease $delay;
}

/// Scroll bar
@mixin scroll-bar($color: fn.get-color(contrast, 500), $width: 5px) {
  // Chromium
  &::-webkit-scrollbar {
    width: $width;
    &-track {
      background: fn.get-color(contrast, 300, 0.1);
    }
    &-thumb {
      background: $color;
      :hover {
        background: $color;
      }
    }
  }

  // Firefox
  scrollbar-color: $color fn.get-color(contrast, 300, 0.1);
  scrollbar-width: thin;
}
