<div cvActiveSwitch class="list-chart__container flex-grow flex-column flex-center flex-wrap">
  <div matRipple cvActiveSwitchItem *ngFor="let item of itemsToRender"
       class="list-chart__item flex"
       [class.has-subtitle]="item.subtitle"
  >
    <cv-svg-icon matListItemIcon *ngIf="item.icon != null" [icon]="item.icon"></cv-svg-icon>
    <div class="list-chart__item__header header flex-grow flex-column">
      <div class="list-chart__item__header-title flex">
        <div class="list-chart__item__header-title header-title subtitle-2">{{item.title}}</div>
      </div>
      <div class="list-chart__item__subtitle small" *ngIf="item.subtitle != null && item.subtitle !== ''">{{item.subtitle}}</div>
    </div>
  </div>
</div>
