@use 'functions' as fn;

:host {
  display: flex;
  justify-content: center;
}
cv-draw-circle {
  position: absolute;
  top: 0;
  left: 0;
}

.chart-circle {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__full {
    --draw-circle--track-bar-color: #{fn.get-color(accent, 600, .8)};
  }
}
