@use 'mixins';
@use 'functions' as fn;

:host {
  width: 100%;
  display: flex;
}
.data-details {
  &__block {
    animation-name: appear-bottom;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.28, 0, 0, 1);
  }
  &__container {
    height: 100%;
    position: relative;
  }
  &__content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    ::ng-deep {
      .list-chart-donut__wrapper {
        //height: inherit;
        //overflow: visible;
      }
    }

    &__row {
      //max-height: 50%;
      overflow: hidden;
    }
  }
  &__blocks {
    flex-basis: 200px;
    padding: 15px;
    gap: 25px;
  }

  &__subtitle {
    width: 100%;
  }

  &__list {
    flex-basis: 200px;
    position: relative;
    height: min-content;

    cv-list-chart-gauge {
      width: 100%;
      height: 100%;
    }

    &__header {
      padding: 10px 15px;
    }
  }

  &__donut {
    max-height: 50%;
  }

  &__list, &__blocks {
    @include mixins.scroll-bar;
    height: 100%;
    overflow: auto;
    position: relative;
    border-left: 1px solid fn.get-color(accent, 500);
    border-bottom: 1px solid fn.get-color(accent, 500);
    margin-left: -1px;
    top: 1px;
  }

  .back-btn {
    color: fn.get-color(accent, 200);
  }

}


