@use 'functions' as fn;

:host {
  width: 100%;
}

.chart-gauge {
  &__container {
    height: 12px;
    width: calc(100% - 40px);
    position: relative;
  }
  &__fill {
    height: 6px;
    border-radius: 3px;
    width: 0;
    background-color: fn.get-color(primary, 500);
    position: relative;
  }

  &__value {
    position: absolute;
    top: 2px;
    margin-left: 4px;
    line-height: 8px;
    width: 35px;
    color: fn.get-color(contrast, 50);
  }
}
