:root {
  /// Color of the filled circle
  --draw-circle--track-bar-color: conic-gradient(orange 0deg, red 360deg);

  /// Color fo the empty circle
  --draw-circle--track-bar-bg-color: transparent;

  /// Pointer events active on the circle
  --draw-circle--arc-pointer-events: auto;
}
