
.circle {
  fill: transparent;
  stroke: #87CEEB;
  stroke-width: 1;
  &:hover {
    stroke: #fa87cc;
  }
}
.inCircle {
  fill: transparent;
  stroke: #43C1F5;
  stroke-width: 1;
  pointer-events: none;
}
.circleContainer {
}
