@use 'mixins';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  @include mixins.transition($property:stroke-width);
  fill: var(--draw-circle--track-bar-bg-color);
  stroke: var(--draw-circle--track-bar-color);
  stroke-width: 1;
  pointer-events: var(--draw-circle--arc-pointer-events);
}
.inCircle {
  fill: var(--draw-circle--full-bg-color);
  stroke: var(--draw-circle--full-color);
  stroke-width: 1;
  pointer-events: none;
}
