<svg xmlns="http://www.w3.org/2000/svg"
     [attr.viewBox]="viewBoxX + ' ' + viewBoxY + ' ' + viewBoxSize + ' ' + viewBoxSize"

     class="circleContainer"
     [style.width.px]="size" [style.height.px]="size">
  <circle *ngIf="showRefCircle" [style.stroke-width]="circleWeight" [attr.cx]="60" [attr.cy]="60" [attr.r]="54" class="inCircle">
  </circle>
  <path class="circle"
        [style.stroke]="color"
        [style.stroke-width]="weight"
        [attr.d]="'M ' +leftArc.x+', ' + leftArc.y +
        ' A 50 50 0 ' + (arcPercentage > 50 ? 1 : 0) + ' 0 ' + rightArc.x + ', ' + rightArc.y"
  >
  </path>
</svg>
