@use 'mixins';

.circle {
  @include mixins.transition;
  fill: transparent;
  stroke: var(--draw-circle--track-bar-color);
  stroke-width: 1;
  pointer-events: var(--draw-circle--arc-pointer-events);
}
.inCircle {
  fill: transparent;
  stroke: #43C1F5;
  stroke-width: 1;
  pointer-events: none;
}
.circleContainer {
}
