@use 'functions' as fn;
@use 'mixins';
@use "sass:math";

.profile {
  &__container {
    position: relative;
    width: 720px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__circle {
    width: 300px;
    height: 300px;
    position: relative;

    .profile-img {
      @include mixins.transition(7s);
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 500px;
      height: 205px;
      width: 205px;
      object-fit: cover;
      opacity: 0;
      &.show {
        opacity: .45;
      }
    }
    .circle-wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
    }
    .circle-outer {
      &__mask {
        pointer-events: none;
        $size: 240px;
        $offset: 300px - $size;
        width: calc(100% - #{$offset});
        height: calc(100% - #{$offset});
        --circle--track-bar-color: transparent;

        .mask-circle {
          cv-draw-circle {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            --draw-circle--track-bar-color: #{fn.get-color(primary, 800, .7)};

            &.active, &:hover {
              --draw-circle--track-bar-color: #{fn.get-color(primary, 600)};
            }
          }
        }
      }

      &__input {
        pointer-events: none;
        $size: 210px;
        $offset: 300px - $size;
        width: calc(100% - #{$offset});
        height: calc(100% - #{$offset});
        top: math.div($offset, 2);
        left: math.div($offset, 2);
        --circle--track-bar-color: conic-gradient(from 0deg,
          #{fn.get-color(primary, 600, 0.4)} 30deg,
          #{fn.get-color(primary, 900)} 180deg,
          #{fn.get-color(primary, 600, 0.4)} 330deg);

        --input-circle-slider--handler-color: transparent;
        --input-circle-slider--handler-pointer-events: none;

        .handler {
          position: absolute;
          top: 10px;
          left: -90px;
          --draw-circle--track-bar-color: #{fn.get-color(primary, 900)};
          &:hover {
            --draw-circle--track-bar-color: #{fn.get-color(primary, 600)};
          }
        }
      }

      &__menu {
        pointer-events: none;
        $size: 390px;
        $offset: 300px - $size;
        width: calc(100% - #{$offset});
        height: calc(100% - #{$offset});
        top: math.div($offset, 2);
        left: math.div($offset, 2);
        position: relative;

        --circle--track-bar-color: conic-gradient(from 0deg,
          #{fn.get-color(primary, 600, 0.4)} 30deg,
          #{fn.get-color(primary, 900)} 180deg,
          #{fn.get-color(primary, 600, 0.4)} 330deg);

        > * {
          position: absolute;
          top: 0;
          left: 0;
          width: $size;
          height: $size;
        }
      }
    }
  }
}
