<mat-selection-list class="list-chart-circle__container flex flex-grow flex-wrap" [multiple]="false">
  <mat-list-option *ngFor="let item of itemsToRender" color="accent"
                   [value]="item"
                   class="list-chart-circle__item flex align-center">
    <div matListItemTitle class="list-chart-circle__item__header header">
      <cv-svg-icon *ngIf="item.icon != null" [icon]="item.icon"></cv-svg-icon>
      <div class="list-chart-circle__item__header-title">{{item.title}}</div>
    </div>
    <cv-chart-circle [size]="70" [animationDelay]="item.delay ?? 0"
                     [value]="item.value" [color]="item.color">
    </cv-chart-circle>
    <div *ngIf="item.subtitle != null && item.subtitle !== ''" matListItemLine>{{item.subtitle}}</div>
  </mat-list-option>
</mat-selection-list>
