<div class="input-circle-slider__container"
     [style.width.px]="size"
     [style.height.px]="size"
>
  <div #circle class="input-circle-slider__circle">
    <cv-circle [size]="size" [weight]="weight" [fillPercentage]="valuePercentage"></cv-circle>

    <div class="input-circle-slider__circle__track-handle"
      [style.transform]="handleTransform"
      >
      <div class="handler" (mousedown)="startDrag()"></div>
    </div>
  </div>
</div>

<div *ngIf="isDragging === true" (mouseup)="stopDrag()" (mousemove)="drag($event)"
     class="input-circle-slider__ol"></div>
